[submodule "git-merged-branches"]
	path = git-merged-branches
	url = https://github.com/marczych/git-merged-branches.git
[submodule "ssh-agent-canonicalize"]
	path = ssh-agent-canonicalize
	url = https://github.com/chpatton013/ssh-agent-canonicalize.git
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
